


.demo1{
    background-color:#D0BDF0;
    position: absolute;
    height : 1400px;
    width: 1519px;
}
.logo0{
    position: absolute;
    height:120px;
    width:1519px;
}
.hrr{
    position: absolute;
    width:80px;
    margin-left: 25%;
    margin-top: 10%;
}
.hrr1{
    position: absolute;
    width:80px;
    margin-left: 25%;
    margin-top: 16.5%;
}
.hrr2{
    position: absolute;
    width:80px;
    margin-left: 25%;
    margin-top: 23%;
}
.hrr4{
    position: absolute;
    width:80px;
    margin-left: 25%;
    margin-top: 29.5%;
}
.hrr5{
    position: absolute;
    width:80px;
    margin-left: 25%;
    margin-top: 35.5%;
}
.hrr6{
    position: absolute;
    width:80px;
    margin-left: 25%;
    margin-top: 41.5%;
}
.hrr7{
    position: absolute;
    width:80px;
    margin-left: 25%;
    margin-top: 47.5%;
}
.hrr8{
    position: absolute;
    width:80px;
    margin-left: 25%;
    margin-top: 53.5%;
}
.hrr9{
    position: absolute;
    width:80px;
    margin-left: 25%;
    margin-top: 59.5%;
}
.hrr10{
    position: absolute;
    width:80px;
    margin-left: 25%;
    margin-top: 66%;
}
.hrr11{
    position: absolute;
    width:80px;
    margin-left: 25%;
    margin-top: 72%;
}
.hrr12{
    position: absolute;
    width:80px;
    margin-left: 25%;
    margin-top: 79%;
}
.hrr13{
    position: absolute;
    margin-top: 11.5%;
    font-size: 1.6rem;
    margin-left: 32%;
}
.hrr14{
    position: absolute;
    margin-top: 18%;
    font-size: 1.6rem;
    margin-left: 32%;
}
.hrr15{
    position: absolute;
    margin-top:24.5%;
    font-size: 1.6rem;
    margin-left: 32%;
}
.hrr16{
    position: absolute;
    margin-top:31%;
    font-size: 1.6rem;
    margin-left: 32%;
}
.hrr17{
    position: absolute;
    margin-top:37%;
    font-size: 1.6rem;
    margin-left: 32%;
}
.hrr18{
    position: absolute;
    margin-top:43%;
    font-size: 1.6rem;
    margin-left: 32%;
}
.hrr20{
    position: absolute;
    margin-top:49%;
    font-size: 1.6rem;
    margin-left: 32%;
}
.hrr21{
    position: absolute;
    margin-top:55%;
    font-size: 1.6rem;
    margin-left: 32%;
}
.hrr22{
    position: absolute;
    margin-top:61%;
    font-size: 1.6rem;
    margin-left: 32%;
}
.hrr23{
    position: absolute;
    margin-top:67.5%;
    font-size: 1.6rem;
    margin-left: 32%;
}
.hrr24{
    position: absolute;
    margin-top:73.5%;
    font-size: 1.6rem;
    margin-left: 32%;
}
.hrr25{
    position: absolute;
    margin-top:80%;
    font-size: 1.6rem;
    margin-left: 32%;
}
.hrr26{
    margin-top: 1400px;
}