.s14{
    position: absolute;
    background-color:#EDDFDF;
    background-repeat: no-repeat;
    height:744px;
    width: 1535px;
}
.cen{
    margin-left: 5%;
}
.pc10{
    position: absolute;
    width:1535px;
    height: 125px;
}
.pc11{
    position: absolute;
    width: 50px;
    margin-top: 11%;
    margin-left: 5%;
}
.pc111{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    margin-top: 11.9%;
    margin-left: 10%;
    color:black;
}
.pc12{
    position: absolute;
    width: 50px;
    margin-top: 18%;
    margin-left: 5%;
}
.pc122{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    margin-top: 18.9%;
    margin-left: 10%;
}
.pc13{
    position: absolute;
    width: 50px;
    margin-top: 25%;
    margin-left: 5%;
}
.pc133{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    margin-top: 25.9%;
    margin-left: 10%;
}
.pc14{
    position: absolute;
    width: 50px;
    margin-top: 32%;
    margin-left: 5%;
}
.pc144{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    margin-top: 32.9%;
    margin-left: 10%;
}
.pc15{
    position: absolute;
    width: 50px;
    margin-top: 39%;
    margin-left: 5%;
}
.pc155{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    margin-top: 39.9%;
    margin-left: 10%;
}
.pc16{
    position: absolute;
    width: 50px;
    margin-top: 11%;
    margin-left: 50%;
}
.pc166{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    margin-top: 11.9%;
    margin-left: 55%;
    color:black;
}
.pc17{
    position: absolute;
    width: 50px;
    margin-top: 18%;
    margin-left: 50%;
}
.pc177{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    margin-top: 18.9%;
    margin-left: 55%;
    color:black;
}
.pc18{
    position: absolute;
    width: 50px;
    margin-top: 25%;
    margin-left: 50%;
}
.pc188{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    margin-top: 25.9%;
    margin-left: 55%;
}
.pc19{
    position: absolute;
    width: 50px;
    margin-top: 32%;
    margin-left: 50%;
}
.pc199{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    margin-top: 32.9%;
    margin-left: 55%;
}
.pc20{
    position: absolute;
    width: 50px;
    margin-top: 39%;
    margin-left: 50%;}

.pc200{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    margin-top: 39%;
    margin-left: 55%;
    color:black;
}
.bar1{
    margin-top: 44.5%;
}
.hlo{
    position: absolute;
    width:50px;
    margin-top: 39%;
    margin-left: 50%;
}