.s25{
    position: absolute;
    background-color:#EDDFDF;
    background-repeat: no-repeat;
    height:744px;
    width:1535px;
}
.pc20{
    position: absolute;
    margin-top: 0%;
    margin-left: 0%;
    height:125px;
    width:1535px;
}
.pc21{
    position: absolute;
    font-size: 6rem;
    color: green;
    margin-top: 4%;
    margin-left: 9%;
}
.pc21a{
    position: absolute;
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-top: 9.7%;
    margin-left: 11%;
}
.pc22{
    position: absolute;
    font-size: 6rem;
    color: green;
    margin-left: 9%;
    margin-top: 7%;
}
.pc22a{
    position: absolute;
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-top: 12.6%;
    margin-left: 11%;
}
.pc23{
    position: absolute;
    font-size: 6rem;
    color: green;
    margin-left: 9%;
    margin-top: 10%;
}
.pc23a{
    position: absolute;
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-top: 15.6%;
    margin-left: 11%;
}
.pc24{
    position: absolute;
    font-size: 6rem;
    color: green;
    margin-left: 9%;
    margin-top: 13%;
}
.pc24a{
    position: absolute;
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-top: 18.6%;
    margin-left: 11%;
}
.pc25{
    position: absolute;
    font-size: 6rem;
    color: green;
    margin-left: 9%;
    margin-top: 16%;
}
.pc25a{
    position: absolute;
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-top: 21.7%;
    margin-left: 11%;
}
.pc26{
    position: absolute;
    font-size: 6rem;
    color: green;
    margin-left: 9%;
    margin-top: 19%;
}
.pc26a{
    position: absolute;
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-top: 24.7%;
    margin-left: 11%;
}
.pc27{
    position: absolute;
    font-size: 6rem;
    color: green;
    margin-left: 9%;
    margin-top: 22%;
}
.pc27a{
    position: absolute;
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-top: 27.7%;
    margin-left: 11%;
}
.pc28{
    position: absolute;
    font-size: 6rem;
    color: green;
    margin-left: 9%;
    margin-top: 25%;
}
.pc28a{
    position: absolute;
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-top: 30.7%;
    margin-left: 11%;
}
.pc29{
    position: absolute;
    font-size: 6rem;
    color: green;
    margin-left: 9%;
    margin-top: 28%;
}
.pc29a{
    position: absolute;
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-top: 33.7%;
    margin-left: 11%;
}
.pc30{
    position: absolute;
    font-size: 6rem;
    color: green;
    margin-left: 9%;
    margin-top: 31%;
}
.pc30a{
    position: absolute;
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-top: 36.7%;
    margin-left: 11%;
}